<section>
  <button (click)="reset()">reset</button>

  <div class="container">
    <sw-card-wrapper #cardWrapper>
      <div class="card" *ngFor="let card of cards, let index = index"
           swSwipeable
           [width]="400"
           [height]="600"
           [orientation]="'x'"
           (swiped)="removeBy(index)">
        {{card}}
      </div>
      <div class="btn-block">
        <button (click)="cardWrapper.dislike()">dislike</button>
        <button (click)="cardWrapper.like()">like</button>
      </div>
    </sw-card-wrapper>
  </div>
</section>
